<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yan.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.yan.entity.User">
        <id column="id" property="id" javaType="String"></id>
        <result column="name" property="name" javaType="String"></result>
        <result column="birthday" property="birthday" javaType="Date"></result>
        <result column="phone" property="phone" javaType="String"></result>
        <result column="amount" property="amount" javaType="Double"></result>
    </resultMap>
    <sql id="Base_Column_List">
        id,name,birthday,phone,amount
    </sql>
    <select id="selectByID" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List"></include>
        from user_message
        where id=#{id,jdbcType=VARCHAR}
    </select>
    <select id="selectUserList" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"></include>
        FROM user_message
    </select>
    <insert id="insert" parameterType="com.yan.entity.User">
        insert into user_message (id,name,birthday,phone,amount)
        values (#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{birthday,jdbcType=DATE},
            #{phone,jdbcType=VARCHAR},#{amount,jdbcType=DOUBLE})
    </insert>
    <select id="countByUser" resultType="java.lang.Integer">
        SELECT count(*) FROM user_message
    </select>
    <delete id="deleteUser" parameterType="java.lang.String">
        DELETE FROM user_message WHERE id=#{id,jdbcType=VARCHAR}
    </delete>
    <update id="updateUser" parameterType="com.yan.entity.User">
        UPDATE user_message
        <set>
            <if test="id!=null">
               id=#{id,jdbcType=VARCHAR},
            </if>
            <if test="name!=null">
              name=#{name,jdbcType=VARCHAR},
            </if>
            <if test="birthday!=null">
              birthday=#{birthday,jdbcType=DATE},
            </if>
            <if test="phone!=null">
              phone=#{phone,jdbcType=VARCHAR},
            </if>
            <if test="amount!=null">
              amount=#{amount,jdbcType=DOUBLE}
            </if>
        </set>
    </update>

</mapper>